/*-- About --*/

.about-grid-2 h1 {
	text-align: left;
	margin: 70px 0 20px;
	font-size: 45px;
	font-weight: 700;
}

.about-grid-2 p {
	line-height: 30px;
	color: #333;
	padding-right: 50px;
}

.about-grid-2 .btn {
	background-color: transparent;
	color: #000;
}

.about-grid-2 .btn {
	background-color: transparent;
	color: #000;
	outline: none;
	border: none;
	border-radius: 0;
	padding: 0 10px 10px 0;
	margin-top: 30px;
	font-size: 16px;
	font-weight: 600;
}

.about-grid-2 .glyphicon {
	margin-left: 10px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: none;
	outline-offset: 0;
	box-shadow: none;
}

.hvr-underline-from-left {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	overflow: hidden;
}

.hvr-underline-from-left:before {
	content: "";
	position: absolute;
	z-index: -1;
	left: 0;
	right: 100%;
	bottom: 0;
	background: #000;
	height: 3px;
	-webkit-transition-property: right;
	transition-property: right;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
	right: 0;
}

.modal-title {
	margin: 15px 0 20px;
	line-height: 0;
	font-size: 30px;
}

.modal-body p {
	padding: 20px 0 5px;
	font-size: 15px;
	line-height: 27px;
}

/*-- //About --*/